.header {
  position: relative;
  background-color: #888a8a; /* Adjusted to a greenish-blue */
  color: #ffffff;
  padding: 5px 0;
}

.header__title {
  margin-left: 35px;
  font-size: 20px;
  line-height: 1.074;
}

.header__icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 40px;
  height: auto;
}
