.hero {
  width: 60%;
  height: auto;
  margin: 0px 0 20px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px 0 35px 40px;
  resize: vertical;
  display: flex;
  flex-direction: column;
}

.hero__heading {
  font-size: 35px;
  line-height: 1.07;
}

.hero__textbox {
  width: 80%;
  height: 20px;
}

.hero__textbox::placeholder {
  font-style: italic;
  font-size: 14px;
}

.hero__success-message {
  font-size: 20px;
  line-height: 1.05;
}
