.hero {
  width: 60%;
  height: auto;
  margin: 0px 0 10px 15px;
  padding: 25px 0 45px 40px;
  box-shadow: 2px 2px 10px rgb(184, 184, 184);
  background-color: #f7f7f7e5;
  resize: vertical;
  display: flex;
  flex-direction: column;
}

.hero__heading {
  font-size: 35px;
  line-height: 1.07;
}

.hero__textbox {
  width: 80%;
  height: 20px;
  padding: 2px 0 2px 6px;
}

.hero__textbox::placeholder {
  font-style: italic;
  font-size: 14px;
}

.hero__success-message {
  display: none;
}
